:root{
  --fundo:#012677           ;
  --titulo:#ff8716 ;
  --primary-color:#FFF;
  --second-color:#CCC;
  --tercery-color:#001449  ;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.title{
  /* color: var(--fundo); */
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
  margin-left: 1rem;
  border-left: 0.5rem solid var(--fundo);
}
ion-icon{
  font-size: 3.5rem;
  color: var(--fundo);
}
iframe{
  width: 400px;
  height: 300px;
}

/* Header e Banner */
#header{
  min-height: 100vh;
  background: linear-gradient(to top, rgba(0,0,0,0.7)80%,rgba(0,0,0,0.7)80%),url("../img/img02.png");
  /* background-image: url("../img/img02.png"); */
  background-size: cover;
  background-position: center;
  color: var(--primary-color);
  /* margin-bottom: 2rem; */
  /* position: relative; */
}
.inner-header{
  display: flex;
  flex-direction: column;  
}
#logo{
  display: flex;
  justify-content: start;
  margin-left: 1rem;
}
#logo img{
  width: 5rem;
  height: 5em;
}
.brand{
  background-color: var(--fundo);
  padding: 1rem;
  font-size: 1.5rem;
  /* margin-left: .5rem; */
}
#navbar{
  display: flex;
  /* display: none; */
  gap: 2rem;
  text-transform: uppercase;
  margin-right: 2rem;
}
#navbar a{
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
  transition: 0.5s;
}
#navbar a:hover{
  color: var(--fundo);
}




#galeria{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
#canal{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
#canal ion-icon{
  font-size: 4rem;
}
#about{
  display: flex;
  margin-bottom: 2rem;
}
#about p{
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-align: justify;
  padding:0 2rem 0;
}
#about figure{
  min-width: 30%;
}
#about figcaption{
  text-align: center;
  font-size: 1.5rem;
  color: var(--tercery-color);
}
.doacao-contato{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.conta{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--fundo);
  padding: 3rem 2rem;
  color: var(--primary-color);
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
.contato{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
}
.contato h2{
  font-size: 2rem;
}
.contato p{
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
}
.contato-logo{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.contato-logo ion-icon{
  font-size: 2rem;
  background-color: var(--fundo);
  color: var(--primary-color);
  padding: 0.3rem .8rem;
}
.img-contato{
  display: flex;
  align-items: center;
  border: 1px solid var(--fundo);  
  width: 35rem;
}
.img-contato p{
  padding-left: 1rem;
  letter-spacing: 1px;
  font-size: 1.3rem;
}
#footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--fundo);
  color: var(--primary-color);
  padding: 1.5rem;
}
#footer span{
  max-width: 50%;
  font-size: 1.2rem;
}
#footer p{
  font-size: 1.5rem;
}
/* Layout mobile */
@media screen and (min-width: 320px) and (max-width: 425px) {
  iframe{
    width: 350px;
    height: 200px;
  }
  ion-icon{
    color: #FFF;
  }
  #navbar a{
    display: none;
  }
  .menu-mobile{
    transform: translateX(-100%);
  }
  .menu-mobile-open{
    transform: translateX(-100%);

  }
  .wrap-menu{
    display: flex;
    flex-direction: column;
  }
  #brand{
    background-color: var(--fundo);
    padding: 1rem;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  #header{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    margin-bottom: 6rem;
  }
  .banner p{
    margin: 10px;
    padding: 5px;
    width: 95%;
    font-size: 1rem;
    text-align: justify;
  } 
  
  #galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  
  }
  #about{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  #about figcaption{
    margin-bottom: 1.5rem;
  }
  #about p{
    text-align: left;
  }
  .doacao-contato{
    display: flex;
    flex-direction: column;
  }
  .contato{
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 12px;
    margin-right: 100px;
    width: 100px;
  }
  .contato h2{
    width: 300px;
  }
  .contato p{
    text-align: left;
    width: 350px;
    letter-spacing: 0;
  }
  .img-contato{
    width: 380px;
  }
  #footer{
    flex-direction: column;
  }
  #footer span{
    max-width: 100%;
    font-size: 1.5rem;
  }
}